.expander {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;

  &__name {
    display: flex;
    align-items: center;
    padding: 0.25rem 0;

    svg {
      width: 24px;
      height: 24px;
    }

    h4 {
      padding: 0 0.25rem;
      color: #fff;
    }
  }

  &_directory {
    cursor: pointer;

    &_expanded svg {
      fill: #0075ff;
    }

    &_closed svg {
      fill: #8c8c8d;
    }
  }

  &_file {
    cursor: auto;

    svg {
      fill: #c0c1c3;
    }
  }
}
