@font-face {
  font-family: fregat;
  src: url('../../public/assets/fonts/fregat.ttf') format('ttf'),
    url('../../public/assets/fonts/fregat.woff') format('woff'),
    url('../../public/assets/fonts/fregat.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  resize: none;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-color: #1d1d1d;
  font-size: 0.875rem;
  font-family: fregat, sans-serif;
  padding: 1rem;
}